* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    font-size: 15px;
}

header h1 {
    color: hsl(300, 43%, 22%);
}

header p {
    color: hsl(303, 10%, 53%);
}

.pinkbox {
    background-color: hsl(300, 24%, 96%);
}

.pinkbox p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.card {
    font-family: 'Spartan', sans-serif;
    background-color: hsl(300, 43%, 22%);
}

.card p {
    color: hsl(300, 24%, 96%);
}

.info h2 {
    color: hsl(300, 24%, 96%);
}

.info span {
    color: hsl(333, 80%, 67%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    margin: 1em;
}

header h1 {
    margin: 2em;
    margin-bottom: 0;
    font-size: 2rem;
}

header p {
    padding: 1em;
}

header p {
    margin: 1em;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

#first, #second, #last {
    position: initial;
    padding: 1em;
    display: block;
    text-align: center;
    border-radius: 7px;
    margin: 2%;
    width: 100%;
}

.pinkbox p {
    margin-top: 2%;
}

.pinkbox *img {
    margin-bottom: 1%;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#colton, #irene, #anne {
    margin: 0;
    position: static;
    margin: 1em;

    
}
.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.info {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 0 5em 0 1em;
}
.info img {
    border-radius: 50%;
    width: 3em;
    margin-right:1em;
}
.title {
    padding: 1em;
}
.title h2, span {
    font-size: 13px;
}

.card p {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    font-weight: 400;
    width: 100%;
    line-height: 25px;
    padding: 0 1em;
    
}
/*-----------------------------------------------*/

@media screen and (min-width:1024px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
    }
    
    body {
        font-family: 'Kumbh Sans', sans-serif;
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        font-size: 15px;
    }
    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%;
        margin-top: 3em;
        padding: 0 7em;
    }
    
    header {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-self: baseline;
    }
    
    header h1 {
        width: 15ch;
        font-weight: 700;
        font-size: 3em;
    }
    
    header p {
        width: 47ch;
    }
    
    .ratings {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    
    .pinkbox {
        display: flex;
        padding: 1em;
        border-radius: 10px;
        margin: 0.5em;
    }
    
    .pinkbox img {
        margin: 0.2em;
    }
    
    #first {
        position: relative;
        right: 4em;
    }
    
    #second {
        position: relative;
        right: 2em;
    }
    
    
    
    .cards {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        width: 100%;
        justify-self: center;
        margin-top: 2em;
    }
    
    #colton {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
    }
    
    #irene {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
    }
    
    #anne {
        grid-row-start: 1;
        grid-column-start: 3;
        grid-row-end: 2;
        grid-column-end: 4;
    }
    
    .card {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        border-radius: 10px;
        padding: 1em;
        width: 27vw;
        height: 37vh;
        justify-content: center;
        align-content: center;
    }
    
    .info {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .info img {
        border-radius: 50%;
        width: 4em;
        margin: 1em;
    }
    
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .info h2 {
        font-size: 15px;
    }
    
    .info span {
        font-size: 15px;
    }
    
    .card p {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
        width: 90%;
        line-height: 1.5em;
        font-size: 15px;
        margin: 1em;
    }
    
    #colton, #irene, #anne {
        position: relative;
    }
    
    #irene {
        top: 1em;
    }
    
    #anne {
        top: 3em;
    }
    
}